<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="OpenCvSharp-local" value="D:\历史资料\2026.7" />
    <add key="OpenCvSharp-runtime-cache" value="C:\Users\admin\.nuget\packages\opencvsharp4.runtime.win\4.13.0.20260627" />
    <add key="System.Memory-cache" value="C:\Users\admin\.nuget\packages\system.memory\4.6.3" />
  </packageSources>
</configuration>
